
@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

@using (Html.BeginForm("FileStore", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}
