@{
    ViewData["Title"] = "DetailsAssetsServiceList";
}
<script src="~/js/Assets.js"></script>
<div id="divDetailsAssestsServiceList">

</div>

<div id="divAssestsServiceList">

</div>
<input type="hidden" id="hdAssetId" value="@ViewBag.AssetId" />
