@{
    ViewData["Title"] = "PartVendorDetails";
}

<style>
    .form-group {
        margin-bottom: 1rem !important;
    }

    .file {
        visibility: hidden;
        position: absolute;
    }
</style>

<script src="~/js/Parts.js"></script>
<div id="divPart">
</div>
<input type="hidden" id="hdAssetServiceID" />
<div id="AssetServiceForm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left:20%" id="myModalLabel">Please Enter Correct Part Information</h4>
                <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                @*<h4 class="modal-title" id="myModalLabel">Create</h4>*@
            </div>
            <div class="modal-body">
                <form id="cities-form" action="#" method="post">
                    <div class="row form-group">
                        <div class="offset-md-3 col-md-6">
                            <label class="control-label col-md-2">PartNumber</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="AssetTitle" placeholder="Title" />
                                <span id="spnTitle" class="text-danger"></span>
                                <input type="hidden" class="form-control" id="hdId" />
                                <span class="text-danger" id="spnTeamName"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="offset-md-3 col-md-6">
                            <label class="control-label col-md-2">Price</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="AssetDescription" placeholder="Description" />
                                <span id="spnDescription" class="text-danger"></span>
                                <span class="text-danger" id="spnCity"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="error"></span>
                <button id="sub" type="button" class="btn btn-info" onclick="Assets.SaveAssetService()">Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Reset</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.ajax({
            type: 'GET',
            url: '/Assets/_AssetMaintaneance',
            contentType: 'application/json',
            success: function (data) {
                $('#divAssetMaintaneance').html(data);
            },
            complete: function () {
                $('#tblAssetMaintaneance').DataTable();
            },
        });
    });
</script>