@model List<Trakify.Domain.Entities.Trakify_AssetsService>

@if (Model != null && Model.Count > 0)
{
    <div id="divAssetMaintaneance">
        <table class="table" id="tblAssetMaintaneance">
            <thead>
                <tr>
                    <th><b>Title</b></th>
                    <th><b>Description</b></th>
                    <th><b>Cost</b></th>
                    <th><b>Serviced Date</b></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServicedDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

