
<input type="hidden" id="hdPartCategoryID" value="@ViewBag.PartId" />
<div id="PartCategoryForm" class="modal fade" role="dialog" style="z-index:99999 !important">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left:20%" id="PartCategoryModal">Part Category Information</h4>
                <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                @*<h4 class="modal-title" id="myModalLabel">Create</h4>*@
            </div>
            <div class="modal-body">
                <form id="cities-form" action="#" method="post">
                    <div class="row form-group">
                        <div class="offset-md-3 col-md-6">
                            <label class="control-label row-cols-md-1">Part Category Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="PartCategoryName" placeholder="Part Category Name" />
                                <span id="spnPartCategoryName" class="text-danger"></span>
                                <input type="hidden" class="form-control" id="hdId" />
                                <span class="text-danger" id="spnPartCategoryName"></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="error"></span>
                <div class="col-md-12">
                    <button class="btn btn-primary kt-pull-right" id="m" type="button" onclick="Parts.SaveCategoryName()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

